title W3.CSS Template
meta(charset="UTF-8")
meta(name="viewport", content="width=device-width,initial-scale=1")
link(rel='stylesheet', href='static/styles/custom.css')
link(rel="stylesheet", href="https://www.w3schools.com/w3css/4/w3.css")
link(rel="stylesheet", href="https://www.w3schools.com/lib/w3-colors-vivid.css")
link(rel="stylesheet", href="https://www.w3schools.com/lib/w3-theme-blue-grey.css")
link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans")
link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
style.
  
  html, body, h1, h2, h3, h4, h5 {font-family: "Open Sans", sans-serif}
  .w3-span-margin-top{margin-top:4px!important}
  .w3-span-margin-left{margin-left:4px!important}.w3-span-margin-right{margin-right:4px!important}
  
script.
  
  // Used to toggle the menu on smaller screens when clicking on the menu button
      function openNav() {
        var x = document.getElementById("navDemo");
        if (x.className.indexOf("w3-show") == -1) {
          x.className += " w3-show";
        } else { 
          x.className = x.className.replace(" w3-show", "");
        }
      }
  
//  Navbar 
img(src="https://givecampaignbot.azurewebsites.net/file?name=banner.jpg", style="width:100%")
.w3-top.w3-hide
  .w3-bar.w3-theme-d2.w3-left-align.w3-large
    a.w3-bar-item.w3-button.w3-padding-large.w3-theme-d4(href="#")
      i.fa.fa-home
    a.w3-bar-item.w3-button.w3-right.w3-padding-large.w3-hover-white(href="javascript:void(0);", onclick="openNav()", title="My Account")
      img.w3-circle(src="https://p7.hiclipart.com/preview/129/94/328/computer-icons-avatar-icon-design-male-teacher.jpg", style="height:23px;width:23px", alt="Avatar")
//  Navbar on small screens 
#navDemo.w3-bar-block.w3-theme-d2.w3-medium.w3-hide
  a.w3-bar-item.w3-button.w3-padding-large(href="#") Link 1
  a.w3-bar-item.w3-button.w3-padding-large(href="#") Link 2
  a.w3-bar-item.w3-button.w3-padding-large(href="#") Link 3
  a.w3-bar-item.w3-button.w3-padding-large(href="#") My Profile
//  Page Container 
.w3-container.w3-content(style="max-width:1400px;margin-top:10px")
  //  The Grid 
  .w3-row
    //  Middle Column 
    .w3-col
      //  Interests 
      .w3-card.w3-round.w3-white
        .w3-container
          p Interests
          p
            span.w3-tag.w3-span-margin-left.w3-span-margin-top.w3-small.w3-vivid-reddish-purple Education
            span.w3-tag.w3-span-margin-left.w3-span-margin-top.w3-small.w3-vivid-purplish-red Spritual
            span.w3-tag.w3-span-margin-left.w3-span-margin-top.w3-small.w3-vivid-purplish-red Health
            span.w3-tag.w3-span-margin-left.w3-span-margin-top.w3-small.w3-vivid-purple Fun
            span.w3-tag.w3-span-margin-left.w3-span-margin-top.w3-small.w3-vivid-purple Friends
            span.w3-tag.w3-span-margin-left.w3-span-margin-top.w3-small.w3-vivid-purple Games
            span.w3-tag.w3-span-margin-left.w3-span-margin-top.w3-small.w3-vivid-pink Friends
            span.w3-tag.w3-span-margin-left.w3-span-margin-top.w3-small.w3-vivid-pink Food
            span.w3-tag.w3-span-margin-left.w3-span-margin-top.w3-small.w3-theme-l3 Design
            span.w3-tag.w3-span-margin-left.w3-span-margin-top.w3-small.w3-theme-l4 Art
            span.w3-tag.w3-span-margin-left.w3-span-margin-top.w3-small.w3-theme-l5 Photography
      br
      .w3-row-padding
        .w3-col.m12
          .w3-card.w3-round.w3-white
            .w3-container.w3-padding
              p Organise a fundraising event
              a.w3-button.w3-vivid-purplish-red.w3-right(href="https://givecampaignbot.azurewebsites.net/form")
                i.fa.fa-pencil
              p.w3-border.w3-padding-small(contenteditable="true")
                b Category:
                |  Fun Event
      .w3-container.w3-card.w3-white.w3-round.w3-margin
        br
        img.w3-left.w3-circle.w3-margin-right(src="https://givecampaignbot.azurewebsites.net/file?name=deepti.png", alt="Avatar", style="width:60px")
        button.w3-button.w3-round-large.w3-theme-light.w3-right(type="button")
          i.material-icons(style="color:#ce4676;") favorite
        h5
          b Deepthi Vipparthy
          |  is organising
        br
        h6.w3-left 5K/10K VIRTUAL RUN
        h6.w3-right(style="color:#27a64c") HEALTH EVENT
        br
        hr.w3-clear
        .w3-row-padding(style="margin:0 -16px")
          .w3-half
            img.w3-margin-bottom(src="https://givecampaignbot.azurewebsites.net/file?name=fun.png", style="width:100%", alt="Northern Lights")
        p To be eligible for prizes, the runs should be recorded using some tracking devices/apps like Garmin, Strava, Nike etc... and the link to the activity presented. We will also have prizes for the maximum mileage covered during the duration of the event (both men and women).
        h6
          b Date of event:
          |  5th Nov 2021
        h6
          b Minimun Criteria:
          |  Donation of minimum 
          b ₹1000/-
          |  in the listed NGOs
        a.w3-button.w3-round-medium.w3-vivid-reddish-purple(href="https://microsoftindia.benevity.org/campaigns/844") REGISTER NOW BY DONATING
        br
        br
      .w3-container.w3-card.w3-white.w3-round.w3-margin
        br
        img.w3-left.w3-circle.w3-margin-right(src="https://p7.hiclipart.com/preview/129/94/328/computer-icons-avatar-icon-design-male-teacher.jpg", alt="Avatar", style="width:60px")
        button.w3-button.w3-round-large.w3-theme-light.w3-right(type="button")
          i.material-icons(style="color:#ce4676;") favorite
        h5
          b Leadership In Action
          |  is organising
        br
        h6.w3-left POWER OF GENEROSITY
        h6.w3-right(style="color:#27a64c") SPRITUAL EVENT
        br
        hr.w3-clear
        .w3-row-padding(style="margin:0 -16px")
          .w3-half
            img.w3-margin-bottom(src="https://givecampaignbot.azurewebsites.net/file?name=dalai.png", style="width:100%", alt="Northern Lights")
        p
          | We must each lead a way of life with self-awarness and compassion, to do as much as we can. Then, what ever happens we will have no regret.
          br
          i
            b Guest Speaker : Dalai Lama XIV
        h6
          b Date of event:
          |  20th Oct 2021
        h6
          b Minimun Criteria:
          |  N/A
        a.w3-button.w3-round-medium.w3-vivid-reddish-purple(href="https://microsoftindia.benevity.org/campaigns/844") REGISTER NOW BY DONATING
        br
        br
      .w3-container.w3-card.w3-white.w3-round.w3-margin
        br
        img.w3-left.w3-circle.w3-margin-right(src="https://givecampaignbot.azurewebsites.net/file?name=binu.png", alt="Avatar", style="width:60px")
        button.w3-button.w3-round-large.w3-theme-light.w3-right(type="button")
          i.material-icons(style="color:#ce4676;") favorite
        h5
          b Binu Raj
          |  is organising
        br
        h6.w3-left FINANCIAL PLANNING TALK
        h6.w3-right(style="color:#27a64c") EDUCATIONAL EVENT
        br
        hr.w3-clear
        .w3-row-padding(style="margin:0 -16px")
          .w3-half
            img.w3-margin-bottom(src="https://givecampaignbot.azurewebsites.net/file?name=financial.png", style="width:100%", alt="Northern Lights")
        p You will learn about stocks, bonds, mutual funds, real estate, gold, insurance, ESPP. Binu will teach you to pick mutual funds that are likely to succeed in the future and give you a starter list of mutual funds to get started.
        h6
          b Date of event:
          |  Yet to be decided
        h6
          b Minimun Criteria:
          |  Donation of minimum 
          b ₹1000/-
          |  in the listed NGOs
        a.w3-button.w3-round-medium.w3-vivid-reddish-purple(href="https://microsoftindia.benevity.org/campaigns/844") REGISTER NOW BY DONATING
        br
        br
      //  End Middle Column 
    //  End Grid 
  //  End Page Container 
br
//  Footer 
footer.w3-theme-d5
  img(src="https://givecampaignbot.azurewebsites.net/file?name=footer.jpg", style="width:100%")