doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, height=device-height, initial-scale=1.0')
    //- link(rel='stylesheet', href='client/styles/custom.css')
    link(rel='stylesheet', href='/../client/styles/msteams-16.css')
  body
    block content
    block scripts

  footer
    p Copyright &copy;2021 Shivangi Beniwal
    |
    p Contact - shbeniwa@microsoft.com
